body {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 100vh;
    
}

.button {
    
    font-size: 5vh;
    margin: 5vh;
    padding: 1vh;
    width: 250px;;
      
}

